.u-block-628d-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-628d-3 {
  position: absolute;
  left: 0;
}

.u-block-628d-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/Ilustracion_sin_titulo.png");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 815px;
}

.u-section-1-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 288px auto 0;
}

.u-section-1-1 .u-text-2 {
  margin: 30px 56px 0;
}

.u-section-1-1 .u-btn-1 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-transform: uppercase;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  font-weight: 700;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 515px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 386px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 243px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/Nombre2.png");
  background-position: 49.36% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 815px;
}

.u-section-1-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 228px auto 0;
}

.u-section-1-2 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-1-2 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  margin: 38px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 672px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 515px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 386px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 243px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3.75rem;
  }
}

 .u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/Contactanos.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 815px;
}

.u-section-1-3 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-1-3 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 672px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 515px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 386px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 243px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 3.75rem;
  }
}

.u-section-1-3 .u-btn-1,
.u-section-1-3 .u-btn-1:before,
.u-section-1-3 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-3 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1-3 .u-btn-1.u-btn-1.u-btn-1:hover:before {
  background-color: transparent !important;
}

.u-section-1-3 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1-3 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1-3 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1-3 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1-3 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1-2 .u-btn-1,
.u-section-1-2 .u-btn-1:before,
.u-section-1-2 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-2 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1-2 .u-btn-1.u-btn-1.u-btn-1:hover:before {
  background-color: transparent !important;
}

.u-section-1-2 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1-2 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1-2 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1-2 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1-2 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1-1 .u-btn-1,
.u-section-1-1 .u-btn-1:before,
.u-section-1-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  box-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1-1 .u-btn-1.u-btn-1.u-btn-1:hover:before {
  background-color: transparent !important;
}

.u-section-1-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  box-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1-1 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1-1 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 676px;
}

.u-section-2 .u-image-1 {
  width: 836px;
  height: 600px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -15px -38px 0 auto;
}

.u-section-2 .u-group-1 {
  background-image: none;
  width: 425px;
  min-height: 376px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: -285px auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 24px 0;
}

.u-section-2 .u-text-1 {
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 1px auto 0 40px;
}

.u-section-2 .u-text-2 {
  font-size: 4.5rem;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 22px 40px 0;
}

.u-section-2 .u-image-2 {
  width: 570px;
  height: 427px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -862px auto 0 -251px;
}

.u-section-2 .u-image-3 {
  width: 570px;
  height: 427px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 193px -269px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 861px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -50px;
    margin-right: -68px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -159px;
    height: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: -953px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 822px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 517px;
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    margin-top: -76px;
  }

  .u-section-2 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-image-3 {
    margin-top: -378px;
    margin-right: -154px;
    margin-bottom: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-2 .u-image-1 {
    height: 388px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-1 {
    margin-top: -38px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-2 .u-image-1 {
    width: 390px;
    margin-left: -25px;
    margin-right: -25px;
  }

  .u-section-2 .u-group-1 {
    min-height: 265px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 20px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 3rem;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: 131px;
  }

  .u-section-2 .u-image-3 {
    height: 255px;
    width: 340px;
    margin-top: -265px;
    margin-right: -238px;
    margin-bottom: 50px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 669px;
}

.u-section-3 .u-list-1 {
  margin-top: 42px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 321px;
  grid-gap: 20px;
}

.u-section-3 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  width: 97px;
  height: 97px;
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px 10px 0;
}

.u-section-3 .u-text-2 {
  margin: 7px 0 0;
}

.u-section-3 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  width: 97px;
  height: 97px;
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px 10px 0;
}

.u-section-3 .u-text-4 {
  margin: 7px 0 0;
}

.u-section-3 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  width: 97px;
  height: 97px;
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px 10px 0;
}

.u-section-3 .u-text-6 {
  margin: 7px 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 42px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 264px;
}

.u-section-3 .u-container-layout-4 {
  padding: 28px 30px 30px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 2.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 264px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-3 .u-text-8 {
  margin: 0;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 30px auto 0 10px;
  padding: 15px 48px 15px 47px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 265px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 218px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 218px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    min-height: 609px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 11px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1280px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 41px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 41px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 772px;
  }
}

.u-section-3 .u-list-item-1,
.u-section-3 .u-list-item-1:before,
.u-section-3 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-list-item-1 {
  border-color: transparent !important;
}

.u-section-3 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-list-item-1 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-2,
.u-section-3 .u-list-item-2:before,
.u-section-3 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-list-item-2 {
  border-color: transparent !important;
}

.u-section-3 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-list-item-2 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-3,
.u-section-3 .u-list-item-3:before,
.u-section-3 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-list-item-3 {
  border-color: transparent !important;
}

.u-section-3 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-list-item-3 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-btn-1,
.u-section-3 .u-btn-1:before,
.u-section-3 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1:hover:before {
  background-color: transparent !important;
}

.u-section-3 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1424px;
}

.u-section-4 .u-shape-1 {
  height: 947px;
  margin-top: 248px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-layout-wrap-1 {
  width: 915px;
  margin: -841px auto 0;
}

.u-section-4 .u-image-1 {
  background-image: url("images/Contactanos.jpg");
  background-position: 50% 50%;
  min-height: 380px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 380px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  font-family: "PT Sans", sans-serif;
  margin: 17px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 23px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 32px auto 0 0;
  padding: 0;
}

.u-section-4 .u-image-2 {
  background-image: url("images/programacion.jpg");
  background-position: 50% 50%;
  min-height: 380px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 338px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  font-size: 1.875rem;
  font-family: "PT Sans", sans-serif;
  margin: 3px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-4 .u-image-3 {
  min-height: 338px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/woman-using-touch-screen-c.jpg");
  background-position: 84.08% 50%;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 338px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-text-5 {
  font-family: "PT Sans", sans-serif;
  margin: 5px 0 0;
}

.u-section-4 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 32px auto 0 0;
  padding: 0;
}

.u-section-4 .u-shape-2 {
  width: 323px;
  height: 323px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -1100px auto 0 23px;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  letter-spacing: normal;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -194px auto 60px 87px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1285px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1157px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 273px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-image-1 {
    min-height: 384px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 384px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-image-2 {
    min-height: 384px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 307px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-image-3 {
    min-height: 307px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2538px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 363px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-1 {
    min-height: 509px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 269px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-image-2 {
    min-height: 508px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 217px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-image-3 {
    min-height: 506px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: -2599px;
    margin-left: -9px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-left: 55px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2154px;
  }

  .u-section-4 .u-shape-1 {
    height: 209px;
    margin-top: 56px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 142px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 320px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-image-2 {
    min-height: 320px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-image-3 {
    min-height: 319px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: -2038px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 488px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  font-family: "Luckiest Guy";
  font-weight: bold;
  margin: 54px auto 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
}

.u-section-5 .u-line-1 {
  width: 100px;
  height: 0;
  margin: 30px auto 0;
}

.u-section-5 .u-list-1 {
  margin-bottom: 30px;
  margin-top: 30px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 223px;
  grid-gap: 0px;
}

.u-section-5 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px 30px;
}

.u-section-5 .u-text-3 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: "Luckiest Guy";
  margin: -72px auto 0 62px;
}

.u-section-5 .u-text-5 {
  margin: 10px 0 0 52px;
}

.u-section-5 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px 30px;
}

.u-section-5 .u-text-6 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-7 {
  font-size: 1.5rem;
  font-family: "Luckiest Guy";
  font-weight: 300;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -72px auto 0 62px;
}

.u-section-5 .u-text-8 {
  margin: 10px 0 0 52px;
}

.u-section-5 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px 30px;
}

.u-section-5 .u-text-9 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-10 {
  font-size: 1.5rem;
  font-family: "Luckiest Guy";
  font-weight: 300;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -72px auto 0 62px;
}

.u-section-5 .u-text-11 {
  margin: 10px 0 0 52px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 184px;
  }

  .u-section-5 .u-text-3 {
    font-size: 4.0625rem;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: -53px;
    margin-right: 0;
    margin-left: 54px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 63px;
  }

  .u-section-5 .u-text-6 {
    font-size: 4.0625rem;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-top: -53px;
    margin-right: 0;
    margin-left: 54px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 63px;
  }

  .u-section-5 .u-text-9 {
    font-size: 4.0625rem;
  }

  .u-section-5 .u-text-10 {
    width: auto;
    margin-top: -53px;
    margin-right: 0;
    margin-left: 54px;
  }

  .u-section-5 .u-text-11 {
    margin-left: 63px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 789px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 423px;
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-5 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-5 .u-text-7 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-5 .u-text-10 {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    font-size: 3rem;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.875rem;
    margin-top: -57px;
    margin-left: 60px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.875rem;
    margin-top: -57px;
    margin-left: 60px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-10 {
    font-size: 1.875rem;
    margin-top: -57px;
    margin-left: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 992px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 674px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .u-section-5 .u-text-3 {
    font-size: 3.75rem;
    width: 49px;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-4 {
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .u-section-5 .u-text-6 {
    font-size: 3.75rem;
    width: 49px;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-7 {
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .u-section-5 .u-text-9 {
    font-size: 3.75rem;
    width: 49px;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-10 {
    margin-top: 22px;
    margin-left: 0;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1052px;
}

.u-section-6 .u-shape-1 {
  width: 832px;
  height: 747px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 225px auto 0 61px;
}

.u-section-6 .u-shape-2 {
  width: 672px;
  height: 555px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -928px 80px 0 auto;
}

.u-section-6 .u-image-1 {
  width: 990px;
  height: 394px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -599px -23px 0 auto;
}

.u-section-6 .u-group-1 {
  background-image: none;
  width: 632px;
  min-height: 322px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  height: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 60px 132px;
}

.u-section-6 .u-container-layout-1 {
  padding: 24px 40px;
}

.u-section-6 .u-text-1 {
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 63px 186px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  margin: 21px 0 0;
}

.u-section-6 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 21px auto 0 0;
  padding: 15px 46px 15px 45px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 996px;
  }

  .u-section-6 .u-image-1 {
    width: 940px;
    height: 374px;
    margin-right: 0;
  }

  .u-section-6 .u-group-1 {
    width: 542px;
    min-height: 347px;
    margin-top: -50px;
    margin-left: 33px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 824px;
  }

  .u-section-6 .u-shape-1 {
    height: 488px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-shape-2 {
    margin-top: -669px;
    margin-right: 48px;
  }

  .u-section-6 .u-image-1 {
    width: 720px;
    height: 286px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 0;
    margin-left: 55px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 753px;
  }

  .u-section-6 .u-shape-2 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 215px;
  }

  .u-section-6 .u-group-1 {
    width: 437px;
    min-height: 340px;
    margin-top: -30px;
    margin-left: 0;
  }

  .u-section-6 .u-text-1 {
    margin-right: 134px;
  }

  .u-section-6 .u-text-2 {
    font-size: 3.4375rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-6 .u-shape-1 {
    height: 300px;
    width: 355px;
    margin-top: 264px;
    margin-right: -15px;
    margin-left: auto;
  }

  .u-section-6 .u-shape-2 {
    height: 418px;
    margin-top: -492px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-image-1 {
    width: 417px;
    height: 166px;
    margin-top: -379px;
    margin-right: auto;
    margin-left: -27px;
  }

  .u-section-6 .u-group-1 {
    min-height: 207px;
    width: 326px;
    margin-top: -13px;
  }

  .u-section-6 .u-container-layout-1 {
    padding: 0 20px 14px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    font-size: 2.75rem;
  }
}

.u-section-6 .u-btn-1,
.u-section-6 .u-btn-1:before,
.u-section-6 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-6 .u-btn-1.u-btn-1.u-btn-1:hover:before {
  background-color: transparent !important;
}

.u-section-6 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-6 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-6 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-6 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-6 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-7 .u-sheet-1 {
  min-height: 880px;
}

.u-section-7 .u-rotation-parent-1 {
  width: 972px;
  height: 1068px;
  margin: -396px 13px 0 auto;
}

.u-section-7 .u-shape-1 {
  width: 1068px;
  height: 972px;
}

.u-section-7 .u-shape-2 {
  width: 241px;
  height: 242px;
  background-image: none;
  margin: -312px -143px 0 auto;
}

.u-section-7 .u-rotation-parent-2 {
  width: 671px;
  height: 712px;
  margin: -748px auto 0 -231px;
}

.u-section-7 .u-image-1 {
  width: 570px;
  height: 428px;
  transform-origin: center center 0px;
  transform: translateX(-50%) translateY(-50%) rotate(303.48deg);
}

.u-section-7 .u-image-2 {
  width: 570px;
  height: 428px;
  margin: -144px auto 0 258px;
}

.u-section-7 .u-form-1 {
  height: 475px;
  background-image: none;
  --checkbox-checked-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -712px 469px 0 79px;
}

.u-section-7 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-social-icons-1 {
  height: 76px;
  min-height: 16px;
  width: 248px;
  min-width: 68px;
  white-space: nowrap;
  margin: 187px 0 0 auto;
}

.u-section-7 .u-icon-1 {
  color: rgb(85, 172, 238) !important;
}

.u-section-7 .u-icon-2 {
  color: rgb(197, 54, 164) !important;
}

.u-section-7 .u-icon-3 {
  height: 100%;
  color: rgb(219, 83, 75) !important;
}

.u-section-7 .u-rotation-parent-3 {
  width: 671px;
  height: 712px;
  margin: -767px -374px 59px auto;
}

.u-section-7 .u-image-3 {
  width: 570px;
  height: 428px;
  transform-origin: center center 0px;
  transform: translateX(-50%) translateY(-50%) rotate(303.48deg);
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 889px;
  }

  .u-section-7 .u-rotation-parent-1 {
    width: 878px;
    height: 922px;
    margin-right: auto;
    margin-left: 100px;
  }

  .u-section-7 .u-shape-1 {
    width: 922px;
    height: 878px;
  }

  .u-section-7 .u-shape-2 {
    margin-top: -277px;
    margin-right: 100px;
  }

  .u-section-7 .u-rotation-parent-2 {
    margin-top: -806px;
    margin-left: -806px;
  }

  .u-section-7 .u-image-2 {
    transform-origin: center center 0px;
    transform: translateX(-50%) translateY(-50%) rotate(348.16deg);
    margin-top: -3341px;
    margin-left: -273px;
  }

  .u-section-7 .u-form-1 {
    margin-top: 2701px;
    margin-right: 401px;
    margin-left: 48px;
  }

  .u-section-7 .u-btn-1 {
    border-style: solid;
  }

  .u-section-7 .u-social-icons-1 {
    margin-top: 306px;
  }

  .u-section-7 .u-rotation-parent-3 {
    width: 665px;
    height: 567px;
    margin-top: -954px;
    margin-right: -140px;
    margin-bottom: 60px;
  }

  .u-section-7 .u-image-3 {
    transform: translateX(-50%) translateY(-50%) rotate(344.26deg);
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1636px;
  }

  .u-section-7 .u-rotation-parent-1 {
    width: 720px;
    height: 781px;
    margin-top: 489px;
    margin-left: -273px;
  }

  .u-section-7 .u-shape-1 {
    width: 791px;
    height: 720px;
  }

  .u-section-7 .u-shape-2 {
    margin-top: -5412px;
    margin-right: -35px;
  }

  .u-section-7 .u-rotation-parent-2 {
    margin-top: -5247px;
    margin-right: -289px;
    margin-left: auto;
  }

  .u-section-7 .u-image-2 {
    margin-top: -3356px;
    margin-left: -163px;
  }

  .u-section-7 .u-form-1 {
    margin-top: 3466px;
    margin-right: 263px;
    margin-left: 55px;
  }

  .u-section-7 .u-social-icons-1 {
    margin-top: 640px;
  }

  .u-section-7 .u-rotation-parent-3 {
    margin-top: -321px;
    margin-right: -627px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 760px;
  }

  .u-section-7 .u-rotation-parent-1 {
    height: 601px;
    margin-top: -205px;
  }

  .u-section-7 .u-shape-2 {
    margin-top: -62px;
    margin-right: auto;
    margin-left: -788px;
  }

  .u-section-7 .u-rotation-parent-2 {
    margin-top: -276px;
    margin-right: -401px;
  }

  .u-section-7 .u-image-2 {
    margin-top: -3341px;
    margin-left: -73px;
  }

  .u-section-7 .u-form-1 {
    margin-top: -721px;
    margin-right: 169px;
    margin-left: 0;
  }

  .u-section-7 .u-social-icons-1 {
    margin-top: 275px;
    margin-right: 183px;
  }

  .u-section-7 .u-rotation-parent-3 {
    margin-top: -1287px;
    margin-right: -715px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 772px;
    width: 600px;
    height: 569px;
  }

  .u-section-7 .u-rotation-parent-1 {
    width: 340px;
    height: 401px;
    margin-top: -157px;
    margin-left: -109px;
  }

  .u-section-7 .u-shape-1 {
    width: 374px;
    height: 340px;
  }

  .u-section-7 .u-shape-2 {
    margin-top: 509px;
    margin-right: 878px;
    margin-left: -779px;
  }

  .u-section-7 .u-rotation-parent-2 {
    margin-top: 0;
    margin-right: auto;
    margin-left: -312px;
  }

  .u-section-7 .u-image-2 {
    width: 513px;
    height: 474px;
    margin-top: -1696px;
    margin-left: 207px;
  }

  .u-section-7 .u-form-1 {
    margin-top: -859px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-social-icons-1 {
    margin-top: 124px;
    margin-right: auto;
  }

  .u-section-7 .u-rotation-parent-3 {
    width: 671px;
    height: 711px;
    margin-top: 1717px;
    margin-bottom: 0;
  }
}